
@model List<HealthHub2.Models.AppointmentViewModel>

<head>

    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>


    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
    <script type="text/javascript" src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>


    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css">
    <script type="text/javascript" src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
</head>


<div class="row align-items-end">
    <div class="col-md-4">
        <h2>Appointment Details</h2>
    </div>
    <div class="col-md-8 text-start">
        <a href="@Url.Action("Index", "Mri")" class="align-bottom">Back</a>
    </div>
</div>


@if (Model.Count == 0)
{
    <div class="alert alert-info mt-5">
        <strong>No medical images found.</strong>
    </div>
}
else
{
    @*<table class="table table-striped fs-6 mt-3 shadow" id="example">*@
    <table id="example" class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th>Appointment Date</th>
                <th>Service Type</th>
                <th>Patient Name</th>
                <th>Clinic Name</th>
                <th>Doctor Name</th>
                <th>Note</th>
                <th>Status</th>
                <th>Upload Date</th>
                <th>Medical Image</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Date.ToString("yyyy-MM-dd")</td>
                    <td>@Html.DisplayFor(modelItem => item.ServiceType)</td>
                    <td>@Html.DisplayFor(modelItem => item.PatientName)</td>
                    <td>@Html.DisplayFor(modelItem => item.ClinicName)</td>
                    <td>@Html.DisplayFor(modelItem => item.DoctorName)</td>
                    <td>@Html.DisplayFor(modelItem => item.Note)</td>
                    <td>
                        <button class="status-button btn @((item.Status == "checked") ? "btn-primary" : "btn-secondary")" data-id="@item.AppointmentId">
                            @Html.DisplayFor(modelItem => item.Status)
                        </button>

                    </td>

                    <td>@(item.UploadDate?.ToString("yyyy-MM-dd") ?? "")</td>

                    <td>
                        @if (string.IsNullOrEmpty(item.ImageUrl))
                        {
                            <input type="file" class="upload-button" data-id="@item.AppointmentId" />
                        }
                        else
                        {
                            <img src="@Url.Content(item.ImageUrl)" alt="Medical Image" width="100" height="100">
                        }
                    </td>

                </tr>
            }
        </tbody>
    </table>
}

@Scripts.Render("~/bundles/jquery")
<script>
    document.addEventListener('DOMContentLoaded', function () {
        new DataTable('#example');
    });

    $(document).ready(function () {


        // 状态按钮的处理
        $('.status-button').on('click', function () {
            var id = $(this).data('id');
            var $button = $(this);

            $.ajax({
                url: '/Doctor/UpdateStatus',
                type: 'POST',
                data: { id: id },
                success: function (response) {
                    if (response.success) {
                        $button.text(response.newStatus);

                        if (response.newStatus === 'checked') {
                            $button.removeClass('btn-secondary');
                            $button.addClass('btn-primary');
                        } else if (response.newStatus === 'unchecked') {
                            $button.removeClass('btn-primary');
                            $button.addClass('btn-secondary');
                        }
                    } else {

                    }
                },
                error: function (err) {

                }
            });
        });



        $('.upload-button').on('change', function () {
            var id = $(this).data('id');
            var file = this.files[0];
            var formData = new FormData();
            formData.append('image', file);
            formData.append('id', id);

            $.ajax({
                url: '/Doctor/UploadImage',
                type: 'POST',
                data: formData,
                contentType: false,
                processData: false,
                success: function (response) {
                    if (response.success) {
                        // 更新图片 URL 或刷新页面
                    } else {
                        // 处理错误
                    }
                },
                error: function (err) {
                    // 处理错误
                }
            });
        });



    });
</script>



