
@model List<HealthHub2.Models.AppointmentViewModel>


@{
    ViewBag.Title = "CheckImages";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <!-- 引入 jQuery -->
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>

    <!-- 引入 DataTables 的 JavaScript 和 CSS 文件 -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
    <script type="text/javascript" src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>

    <!-- （可选）如果你使用 Bootstrap 框架，可以加载 DataTables 的 Bootstrap 扩展 -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css">
    <script type="text/javascript" src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
</head>

<div class="row align-items-end">
    <div class="col-md-4">
        <h2>Appointment Details</h2>
    </div>
    <div class="col-md-8 text-start">
        <a href="@Url.Action("Index", "Mri")" class="align-bottom">Back</a>
    </div>
</div>






@if (Model.Count == 0)
{
    <div class="alert alert-info mt-5">
        <strong>No medical images found.</strong>
    </div>
}
else
{


    @*<table class="table table-striped fs-6 mt-3 shadow">*@
    <table id="example" class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th>Appointment Date</th>
                <th>Service Type</th>
                <th>Clinic Name</th>
                <th>Doctor Name</th>
                <th>Status</th>
                <th>Upload Date</th>
                <th>Medical Image</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Date.ToString("yyyy-MM-dd")</td>
                    <td>@Html.DisplayFor(modelItem => item.ServiceType)</td>
                    <td>@Html.DisplayFor(modelItem => item.ClinicName)</td>
                    <td>@Html.DisplayFor(modelItem => item.DoctorName)</td>
                    <td>@Html.DisplayFor(modelItem => item.Status)</td>
                    <td>@(item.UploadDate?.ToString("yyyy-MM-dd") ?? "")</td>

                    <td>
                        @if (!string.IsNullOrEmpty(item.ImageUrl))
                        {
                            <a href="@Url.Content(item.ImageUrl)" download class="btn btn-primary">Download</a>
                        }
                        else
                        {
                            <span>Not Available</span>
                        }
                    </td>


                </tr>
            }
        </tbody>
    </table>
}

<script>
    document.addEventListener('DOMContentLoaded', function () {
        new DataTable('#example');
    });

</script>
