@model HealthHub2.Models.Admin
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="auto-container" style="margin-top:150px; margin-bottom:120px;">

    <div class="row">


        <div class="col-md-5  ">
            <h2>Login As Admin</h2>
            @using (Html.BeginForm("Login", "Admin", FormMethod.Post))
            {
                @Html.AntiForgeryToken()

                <div class="form-group mt-3">
                    @Html.LabelFor(model => model.Email, new { @class = "control-label" })
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>

                <div class="form-group mt-3">
                    @Html.LabelFor(model => model.Password, new { @class = "control-label" })
                    @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })



                <input type="submit" value="Login" class="btn theme-btn mt-3 " />
            }


          
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/jquery")

<script type="text/javascript">
    $(document).ready(function () {
        // 当表单提交时进行验证
        $("form").submit(function (event) {
            var isValid = true; // 用于跟踪表单是否有效

            // 验证电子邮件
            var emailValue = $("input[name='Email']").val();
            if (emailValue === "") {
                $("input[name='Email']").next(".text-danger").text("Email is required");
                isValid = false;
            } else if (!/^[\w-]+(\.[\w-]+)*@@[\w-]+(\.[\w-]+)+$/.test(emailValue)) {
                // 正则表达式检查电子邮件格式
                $("input[name='Email']").next(".text-danger").text("Invalid format of Email");
                isValid = false;
            } else {
                $("input[name='Email']").next(".text-danger").text("");
            }

            // 验证密码
            var passwordValue = $("input[name='Password']").val();
            if (passwordValue === "") {
                $("input[name='Password']").next(".text-danger").text("Password is required");
                isValid = false;
            } else {
                $("input[name='Password']").next(".text-danger").text("");
            }

            // 如果表单无效，阻止提交
            if (!isValid) {
                event.preventDefault();
            }
        });
    });</script>

