@model IEnumerable<HealthHub2.Models.DoctorRateViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@if ((bool)ViewBag.IsPatient)
{
    <h2>Pick a Doctor</h2>
}
else
{
    <div class="d-flex justify-content-between">
        <h2>Doctor Ratings</h2>
        <a href="@Url.Action("DisplayChart", "Rating")" class="btn btn-primary">Rating Chart</a>
    </div>


}


@if (ViewBag.Message != null)
{
    <script>
        alert("@ViewBag.Message");
    </script>
}

<table class="table table-striped">
    <thead>
        <tr>
            <th>Full Name</th>
            <th>Email</th>
            <th>Rating</th>
            @if ((bool)ViewBag.IsPatient)
            {
                <th>Action</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var doctor in Model)
        {
            <tr>
                <td>@doctor.FullName</td>
                <td>@doctor.Email</td>
                @*<td>@doctor.DoctorId</td>*@
                <td>
                    <div class="d-flex align-items-center">
                        <div class="ratings">
                            @{
                                int roundedScore = (int)Math.Round(doctor.Score);
                            }
                            @if (roundedScore == 0)
                            {
                                <p>Not Rated</p>
                            }
                            else
                            {
                                for (int i = 1; i <= 5; i++)
                                {
                                    if (i <= roundedScore)
                                    {
                                        <i class="fas fa-star"></i>
                                    }
                                    else
                                    {
                                        <i class="far fa-star"></i>
                                    }
                                }
                            }

                        </div>
                        @if (roundedScore != 0)
                        {
                            <h5 class="averageScore ml-3">@doctor.Score</h5>
                        }

                    </div>
                </td>


                <td>
                    @if ((bool)ViewBag.IsPatient)
                    {
                        @Html.ActionLink("Rate", "Create", "Rating", new { email = doctor.Email, fullName = doctor.FullName, DoctorId = doctor.DoctorId }, new { @class = "btn btn-primary" })
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
