@model List<HealthHub2.ViewModels.MedicalImageInfoViewModel>

@{
    ViewBag.Title = "Check Images";
}

<h2>Check Medical Images</h2>

@if (Model != null && Model.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model[0].CaptureDate)</th>
                <th>@Html.DisplayNameFor(model => model[0].ImageUrl)</th>
                <th>@Html.DisplayNameFor(model => model[0].DoctorFullName)</th>
                <th>@Html.DisplayNameFor(model => model[0].ServiceType)</th>
                <th>@Html.DisplayNameFor(model => model[0].PlaceName)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.CaptureDate)</td>
                    <td>
                        <img src="@item.ImageUrl" alt="Medical Image" style="width: 100px; height: 100px;" />
                    </td>
                    <td>@Html.DisplayFor(modelItem => item.DoctorFullName)</td>
                    <td>@Html.DisplayFor(modelItem => item.ServiceType)</td>
                    <td>@Html.DisplayFor(modelItem => item.PlaceName)</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No medical images available.</p>
}

