@model IEnumerable<HealthHub2.Models.Rating>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Rating</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PatientId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DoctorId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Score)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RatingDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PatientId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DoctorId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Score)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RatingDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RatingId }) |
            @Html.ActionLink("Details", "Details", new { id=item.RatingId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RatingId })
        </td>
    </tr>
}

</table>
