@*@model HealthHub2.Models.ApplicationUser*@

@*@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}*@

@model HealthHub2.Models.RegisterViewModel
@{
    ViewBag.Title = "Create Doctor Account";
}

<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>

    @using (Html.BeginForm("CreateDoctor", "Account", FormMethod.Post, new { role = "form" }))
    {
        @Html.AntiForgeryToken()
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })

        <div class="col-lg-6">
            <div class="row mt-3">
                @Html.LabelFor(m => m.Email, new { @class = "col-md-2 col-form-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                </div>
            </div>
            <div class="row mt-3">
                @Html.LabelFor(m => m.Password, new { @class = "col-md-2 col-form-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                </div>
            </div>
            <div class="row mt-3">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 col-form-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                </div>
            </div>
            <div class="row mt-3">
                <div class="offset-md-2 col-md-10">
                    <input type="submit" value="Register" class="btn btn-outline-dark" />
                </div>
            </div>
        </div>

    }
</main>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


<div>
    @Html.ActionLink("Back to List", "Index")
</div>
